.statusbar {
    gap: 8px;
    border: none;
    height: 47px;
    display: flex;
    padding: 16px;
    align-items: center;
    font-weight: 600;
    border-radius: 4px;
    background-color: #E8F6FC;
}
.jss18 {
	color: #5B6676;
	font-size: 12px;
	font-weight: 500;
}
.timeline_dot {
	width: 8px;
	height: 8px;
	border-radius: 20px;
	background-color: #15C15D;
}
.timeline_line {
	width: 2px;
	height: 100%;
	margin-left: 3px;
	background-color: #BBE5F7;
}
.type {
    color: #5B6676;
    font-size: 12px;
    font-weight: 500;
}

.phone {
    color: #5B6676;
    font-size: 12px;
    font-weight: 500;
}

.name {
    color: #1E62D5;
    font-size: 16px;
    font-weight: 600;
}

.address {
    color: #1EA9E4;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    flex-direction: row;
}

.addressDivider {
    width: 5px;
    height: 5px;
    margin: 6px;
    margin-top: 19px;
    margin-left: 8px;
    border-radius: 10px;
    background-color: #1EA9E4;
}

.ball {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #15C15D;
}

.line {
    width: 2px;
    height: 100%;
    margin-left: 3px;
    background-color: #BBE5F7;
}

.ball--active {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #15C15D;
}

.ball--inactive {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #E8F6FC;
}

.ball--active::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #15C15D;
    box-shadow: 0px 0px 0px 2px #15C15D;
}

.ball--inactive::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #E8F6FC;
    box-shadow: 0px 0px 0px 2px #15C15D;
}

.ball--active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #15C15D;
    box-shadow: 0px 0px 0px 2px #15C15D;
}

.ball--inactive::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #E8F6FC;
    box-shadow: 0px 0px 0px 2px #15C15D;
}

.line--active {
    width: 2px;
    height: 100%;
    margin-left: 3px;
    background-color: #BBE5F7;
}

.line--inactive {
    width: 2px;
    height: 100%;
    margin-left: 3px;
    background-color: #E8F6FC;
}

.dottedState {
    width: 5px;
    height: 5px;
    margin: 6px;
    margin-top: 19px;
    margin-left: 8px;
    border-radius: 10px;
    background-color: #1EA9E4;
}

.percelImage {
    gap: 8px;
    right: 0;
    width: 20px;
    border: none;
    height: 20px;
    display: flex;
    padding: 3px;
    position: relative;
    align-items: center;
    font-weight: 500;
    margin-right: 7px;
    border-radius: 4px;
    background-color: #BBE5F7;
}

.date_time {
    color: #8D97A4;
    font-size: 14px;
    margin-top: -3px;
    align-items: center;
    font-weight: 500;
    line-height: 120%;
}

.status {
    color: #8D97A4;
    font-size: 14px;
    align-items: center;
    font-weight: 700;
    line-height: 120%;
}